@using DoctorWebCliente.Controllers.Helpers
@{
    ViewData.indicarPaginaActual(EnumMenuItems.Inicio);
}

@* Opcional *@
@section StyleContent {

}

@* Opcional *@
@section ScriptContent {

}

@* Requerido *@
@section TitleContent {
    <h1>
        Pagina de Inicio
        <small>Temporal</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i>Inicio</a></li>
    </ol>
}
    
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @Html.ActionLink(linkText: "Ver el Ejemplo", actionName: "Index", controllerName: "Ejemplo")|

            @Html.ActionLink(linkText: "Ver el Eventos", actionName: "Index", controllerName: "Eventos")|
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->

</section>