<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>    
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- MySQL Config -->
    <add key="MySqlHost" value="localhost" />
    <add key="MySqlPort" value="3306" />
    <add key="MySqlDb" value="dbdoctorweb" />
    <add key="MySqlUser" value="root" />
    <add key="MySqlPass" value="12345" />
  
    <!-- STMP Config -->
    <add key="SMTPDisplayName" value="System Habitat" />
    <add key="SMTPServerHost" value="mail.fsalinas34.com.ve" />
    <add key="SMTPServerPost" value="465" />
    <add key="SMTPUserId" value="roysbert.salinas@fsalinas34.com.ve" />
    <add key="SMTPUserPassword" value="Rs19581195" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="DoctorWebWCFServicio.Services.Notificaciones" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="DoctorWebWCFServicio.Services.INotificaciones" behaviorConfiguration="webBehavior"></endpoint>
      </service>
      <service name="DoctorWebWCFServicio.Services.Prueba" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="DoctorWebWCFServicio.Services.IPrueba" behaviorConfiguration="webBehavior"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
